@model QuanLyBanHang.Models.Order

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutCart.cshtml";
}

<div class="d-flex justify-content-center mb-5">
    <h1>Chi tiết đơn hàng</h1>
</div>

<div class="row">
    <div class="col-md-10 grid-margin stretch-card mx-auto">
        <div class="card">
            <div class="card-body">
                <table style="width:100%">
                    <thead>
                        <tr>
                            <th>Sản phẩm</th>
                            <th class="shoping__product">Ảnh</th>
                            <th>Giá</th>
                            <th>Số lượng</th>
                            <th>Tổng tiền</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var orderItem in Model.OrderItems)
                        {
                            <tr class="mb-3">
                                <td>
                                    <h5>@orderItem.Product.ProductName</h5>
                                </td>
                                <td class="shoping__cart__item">
                                    <img style="width:100px;" src="~/images/@orderItem.Product.ImageUrl" alt="">
                                </td>
                                <td class="shoping__cart__price">
                                    @orderItem.SellingPrice
                                </td>
                                <td class="shoping__cart__quantity">
                                    @orderItem.Quantity
                                </td>
                                <td class="shoping__cart__total">
                                    @orderItem.TotalPrice
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>