<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FLEEBOUNCE</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/Layout/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Layout/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Layout/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/Layout/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/Layout/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/Layout/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/Layout/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/Layout/css/style.css" type="text/css">
    
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row navbar fixed-top navbar-expand-lg navbar-light bg-light" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                <div class="col-lg-3">
                    <div class="header__logo text-center">
                        <a asp-controller="Home" asp-action="Index">
                            <h2>
                                FLEEBOUNCE
                            </h2>
                        </a>
                    </div>
                </div>
                <div class="col-lg-9">
                    <nav class="header__menu" style="text-align: end;">
                        <ul>
                            <li><a style="min-width: 100px; text-align: center;" asp-action="Index" asp-controller="Home">Trang chủ</a></li>
                            @if (User.Identity.IsAuthenticated && User.IsInRole("1"))
                            {
                                <li>
                                    <a style="min-width: 100px; text-align: center;" asp-controller="Carts" asp-action="Index">Giỏ hàng</a>
                                </li>
                            }
                            @if (!(User.Identity.IsAuthenticated))
                            {
                                <li>
                                    <a style="min-width: 100px; text-align: center;" asp-action="Login" asp-controller="Users">Đăng nhập</a>
                                </li>
                            }
                            @if (!(User.Identity.IsAuthenticated))
                            {
                                <li>
                                    <a style="min-width: 100px; text-align: center;" asp-action="Create" asp-controller="Users">Đăng ký</a>
                                </li>
                            }
                            @if (User.Identity.IsAuthenticated && User.IsInRole("1"))
                            {
                                <li>
                                    <a style="min-width: 100px; text-align: center;" asp-action="Index" asp-controller="Orders">Lịch sử mua hàng</a>
                                </li>
                            }
                            @if (User.Identity.IsAuthenticated && User.IsInRole("1"))
                            {
                                <li>
                                    <a style="min-width: 100px; text-align: center;" asp-action="Index" asp-controller="Users">Tài khoản</a>
                                </li>
                            }
                            @if (User.Identity.IsAuthenticated && User.IsInRole("0"))
                            {
                                <li>
                                    <a style="min-width: 100px; text-align: center;" asp-area="Admin" asp-action="Index" asp-controller="HomeAdmin">Quản lý</a>
                                </li>
                            }
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li>
                                    <a style="min-width: 100px; text-align: center;" asp-action="LogOut" asp-controller="Users">Đăng xuất</a>
                                </li    >
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    <!-- Hero Section Begin -->
    <section class="hero" style="padding-top: 150px;">
        <div class="container">
            <div class="row" style="min-height: 500px;">
                @await Component.InvokeAsync("LoaiSpMenu")
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form" style="width: 100%;">
                            <form action="#">
                                <input type="text" placeholder="Bạn cần tìm gì ?" />
                                <button style="width: 182px;" type="submit" class="site-btn">Tìm kiếm</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                        </div>
                    </div>
                    <div>
                        <img style="width: 100vw;" src="~/Layout/img/banner1.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->
    <!-- Featured Section Begin -->
    <section class="featured spad">
        <div class="container">
            @RenderBody()
        </div>
    </section>
    <!-- Featured Section End -->
    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo text-center">
                            <a href="#">
                                <img style="width:90px;" src="~/Layout/img/logo.png" alt="">
                            </a>
                        </div>
                        <ul>
                            <li>Địa chỉ: số 423, đường 19/5</li>
                            <li>Liên hệ: +65 11.188.888</li>
                            <li>Email: xule@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Liên kết hữu ích</h6>
                        <ul>
                            <li><a href="#">Về chúng tôi</a></li>
                            <li><a href="#">Về cửa hàng của chúng tôi</a></li>
                            <li><a href="#">Mua sắm an toàn</a></li>
                            <li><a href="#">Thông tin giao hàng</a></li>
                            <li><a href="#">Chính sách bảo mật</a></li>
                            <li><a href="#">Bản đồ trang web</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Chúng tôi là ai</a></li>
                            <li><a href="#">Dịch vụ của chúng tôi</a></li>
                            <li><a href="#">Dự án</a></li>
                            <li><a href="#">Liên hệ</a></li>
                            <li><a href="#">Đổi mới</a></li>
                            <li><a href="#">Nhận xét từ khách hàng</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Tham gia với chúng tôi</h6>
                        <p>Liên hệ qua Email</p>
                        <form action="#">
                            <input type="text" placeholder="Nhập Email của bạn">
                            <button type="submit" class="site-btn">Đăng ký</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="~/Layout/js/jquery-3.3.1.min.js"></script>
    <script src="~/Layout/js/bootstrap.min.js"></script>
    <script src="~/Layout/js/jquery.nice-select.min.js"></script>
    <script src="~/Layout/js/jquery-ui.min.js"></script>
    <script src="~/Layout/js/jquery.slicknav.js"></script>
    <script src="~/Layout/js/mixitup.min.js"></script>
    <script src="~/Layout/js/owl.carousel.min.js"></script>
    <script src="~/Layout/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>