@model QuanLyBanHang.Models.Purchase

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-6 grid-margin stretch-card mx-auto">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Edit Purchase</h4>
                <form asp-action="Edit" class="forms-sample">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="PurchaseId" />
                    <input type="hidden" asp-for="PurchaseDate" class="form-control" />
                    <div class="form-group">
                        <label asp-for="ProductId" class="control-label">Product Name</label>
                        <select asp-for="ProductId" class="form-control" asp-items="ViewBag.ProductId"></select>
                        <span asp-validation-for="ProductId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SupplierId" class="control-label">Supplier Name</label>
                        <select asp-for="SupplierId" class="form-control" asp-items="ViewBag.SupplierId"></select>
                        <span asp-validation-for="SupplierId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Quantity" class="control-label"></label>
                        <input min="0" asp-for="Quantity" class="form-control" />
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-gradient-primary" />
                        <a class="btn btn-gradient-light" asp-action="Index">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

